/*Import fonts*/

@import url('https://fonts.cdnfonts.com/css/graphik');

/*Body*/

    .body{
        width: auto;
        height: 6000px;
        background-color: #fff;
        background-image: url(img/bgc.png);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: top;
    }

/*Header*/

  .dekstop_menu {
    word-spacing: 41px;
    padding-left: 12.5%;
    vertical-align: top;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.2px;
  }
  
  .menu{
    font-family: 'Graphik', sans-serif;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #fff;
    text-decoration: none;
    }
    .dekstop_menu a{
        vertical-align:middle;
    }

    .social{
        vertical-align:middle;
        float: right;
        padding: 0.1px;
        margin-right: 50px;
        margin-top: 20px;
        
    }

/*Best Product Figma*/

  .main{
    text-align: center;
    font-family: 'Graphik', sans-serif;
    margin-top: 100px;
  }
  
  .main_text{
    font-style: bold;
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 0.2px;
    color: #fff;
  }

  .p_text{
    line-height: 40px;
    font-size: 28px;
    letter-spacing: 0.2px;
    color: #fff;
  }

/*Section Feature*/

  .text_h2{
    font-family: 'Graphik', sans-serif;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252B42;
    font-weight: 350;
  }

  .p_text1{
    line-height: 40px;
    font-size: 28px;
    letter-spacing: 0.2px;
    color: #374754;
    font-family: 'Graphik', sans-serif;
  }

  .features{
    text-align: center;
    margin-top: 550px;
  }

/*OpenTypes*/

  .opentypes{
    float: left;
    margin-left: 330px;
  }
  .text_h3{
    font-style: bold;
    font-size: 20px;
    letter-spacing: 0.1px;
    vertical-align: top;
    line-height: 28px;
    text-align: center;
    font-family: 'Graphik', sans-serif;
    color: #252B42;
  }

  .p_text2{
    font-family: 'Graphik', sans-serif;
    color: #374754;
    line-height: 25px;
    font-size: 18px;
    vertical-align: top;
    letter-spacing: 0.2px;
    text-align: center;
  }

  .first_in_ul{
    margin-left: 85px;
  }
  
/*Design*/

  .design{
    float: left;
    margin-left: 85px;
  }

  .second_in_ul{
    margin-left: 85px;
  }

/*Action*/

.action{
    float: left;
    margin-left: 85px;
}

.third_in_ul{
    margin-left: 85px;
}

/*List*/

.list{
        margin-top: 85px;
}

.img_girl{
    text-align: center;
    background-blend-mode: multiply;
    float: right;
    padding-right: 100px;
}

/*Organize*/

.organize{
    margin-top: 100px;
    font-family: 'Graphik', sans-serif;
    float: left;
    margin-left: 85px;
}

.img_macbook{
    float: right;
    margin-top: 100px;
    margin-right: 100px;
}

/*Prototyping*/
.prototyping{
    float: right;
    margin-top: 200px;
    margin-right: 275px;
    position: relative;

}

.input{
margin-top: 30px;
display: block;
font-family: 'Graphik', sans-serif;
font-weight: 400;
line-height: 1.5;
background-color: #fff;
border: 0px;
width: 170px;
}

.img_sub{
float: right;
position:absolute;
margin-left: 180px;
margin-top: -45px;
size: 100px;
}

.news{
    margin-top: 100px;
}

/*Partners*/

.partners{
    text-align: center;
    margin-top: 100px;
}

.img_partners{
    margin-top: 80px;
    padding: 50px;
}

/*Testimonials*/

.testimonials{
    text-align: center;
    margin-top: 150px;
}

.p_text3{
    text-align:inherit;
    font-family: 'Graphik', sans-serif;
    line-height: 23px;
    font-size: 16px;
    color: #374754;
    letter-spacing: 0.1px;
}

.ibm{
    margin-top: 50px;
    margin-bottom: 50px;
}

.testo{
    margin-top: 50px;
    margin-bottom: 50px;
}

.designer{
    margin-top: 30px;
}


/*Pricing*/

.pricing{ 
  padding-top: 80px;
  background-color: #252B42;
  height: 1000px;
  text-align: center;
  background-blend-mode: multiply;

}

.text_h2_1{
  font-family: 'Graphik', sans-serif;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #fff;
  font-weight: 350;
}

.p_text1_1{
  line-height: 40px;
  font-size: 28px;
  letter-spacing: 0.2px;
  color: #fff;
  font-family: 'Graphik', sans-serif;
}

.main_img_pricing{
margin-left: 13%;
display: grid;
grid-template-columns: repeat(12,1fr);
position: relative;
}

.order_pricing1{
float: left;
margin-top: 45px;
background-blend-mode: multiply;
}

.order_pricing2{
float: left;
background-blend-mode: multiply;
}

.order_pricing3{
float: left;
margin-top: 45px;
background-blend-mode: multiply;
}

.order_button{
display: grid;
position: center;
margin-top: -130px;
margin-left: 60px;
}
.order_button1{
display: grid;
position: center;
margin-top: -175px;
margin-left: 60px;
}

/*Contact*/

.contact{
  margin-top: 150px;
  text-align: center;

}

.form_contact{
  float: left;
  margin-left: 150px;
  margin-top: 80px;
}

.button_send{
  margin-top: 150px;
}

.input1{
margin-top: 30px;
display: block;
font-family: 'Graphik', sans-serif;
font-weight: 400;
line-height: 2;
background-color: #fff;
border: 0px;
width: 170px;
height: 50px;
font-size: 16px;
}

.address{
  float: left;
  margin-left: -350px;
  margin-top: 75px;
}

.text_h5{
  font-family: 'Graphik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #374754;
  font-style: normal;
}

.address_phone{
  margin-left: 600px;
  margin-top: -135px;
}

.address_email{
  float: left;
  margin-left: 1100px;
  margin-top: -105px;
}

.text_h3_1{
  font-style: bold;
  font-size: 20px;
  letter-spacing: 0.1px;
  vertical-align: top;
  line-height: 28px;
  text-align: center;
  font-family: 'Graphik', sans-serif;
  color: #252B42;
  margin-left: 70px;
}

.map{
  margin-top: 35px;
}

.icon_media{
  margin-top: 50px;
  padding: 10px;
}

/*Footer*/

.footer{
  margin-top: 100px;
  background-color: #252B42;
  height: 350px;
}

.pages{
  font-family: 'Graphik', sans-serif;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #fff;
  line-height: 28px;
  text-align: start;
}

.pages a{
  text-decoration: none;
  color: #fff;
}

.footer_div{
  float: left;
  margin-top: 50px;
  margin-left: 100px;
}

.main_li{
font-family: 'Graphik', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.1px;
color: #fff;
text-align: start;
}

.img_footer{
padding-top: 100px;
float: left;
margin-left: 180px;

}

.img_footer1{
  margin-top: 25px;
}

.text_footer{
  font-family: 'Graphik', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #fff;
  line-height: 28px;
  text-align: start;
  padding-top: 98px;
}

.text_footer1{
  margin-top: 40px;
}

.social_footer{
  padding-top: 20px;
  word-spacing: 30px;
  padding-right: 230px;
}
